/** Reset **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 13px;
  line-height: 1.5;
}

/** .topbar **/
.topbar {
  background: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.topbar-item{
  display: inline-block;
  padding: 16px 20px;
  border: 1px solid #EEEEEE;
  margin: 0;
}

.topbar-logo {
  background: #131313;
  display: inline-block;
  padding: 16px 20px;
}

.topbar-logo-img {
  width: 66px;
  height: 16px;
}

.topbar-icon {
  color: #BFBFBF;
}
.topbar-icon-menu {  
  color: #FD4422;
}


/** .main **/
.main {
  padding-top: 50px;
}

.section-title {
  color: #FD4422;
  font-size: 28px;
  font-family: sans-serif;
  display: inline-block;
}

.section-title:hover,
.section-title:focus {
  color: black;
}

/** .cover **/
.cover {
  background: #F0F0F0;
  font-family: sans-serif;
  padding: 0 14px;
}

.cover--grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px 250px 250px;
  row-gap: 12px;
}

.cover-item {
  background: black;
  display: flex;
  align-items: flex-end;
}

.cover-item a {
  color: white;
}

.cover-header {
  padding: 12px;
}
.cover-byline li {
  color: #9A9A9A;
  display: inline-block;
  margin-right: 12px;
}

/** .news **/
.news {
  font-family: sans-serif;
  padding: 14px 14px 84px 14px;
}

.news-article {
  font-size: 9px;
  clear: both;
}

.news-article-thumbnail {
  width: 75px;
  height: 75px;
  background: blueviolet;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}

.news-article-thumbnail img {
  width: 100%;
}

.news-article a {
  color: #131313;
}

.news-article a:hover,
.news-article a:focus {
  color: #FD4422;
  text-decoration: underline;
}

.news-byline li {
  color:#9A9A9A;
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
}

/** .thumbnails **/
.thumbnail {
  background-size: cover;
  background-position: center;
}

.thumbnail-01 { background-image: url("img/tn01-405x270.jpg"); }
.thumbnail-02 { background-image: url("img/tn02-514x270.jpg"); }
.thumbnail-03 { background-image: url("img/tn03-479x270.jpg"); }
.thumbnail-04 { background-image: url("img/tn04-516x270.jpg"); }
.thumbnail-05 { background-image: url("img/tn05-516x270.jpg"); }
.thumbnail-06 { background-image: url("img/tn06-480x270.webp"); }
.thumbnail-07 { background-image: url("img/tn07-480x270.jpeg"); }
.thumbnail-08 { background-image: url("img/tn08-516x270.jpg"); }

/** .index **/
.index {
  font-family: sans-serif;
  padding: 14px;
}

.index-nav a {
  color: #FD4422;
  font-size: 14px;
  padding-bottom: 8px;
  display: inline-block;
}

.index-nav a:hover,
.index-nav a:focus {
  color: black;
}

.index-box {
  margin-bottom: 14px;
}

.index-box-header {
  position: relative;
}

.index-box-img {
  position: absolute;
  left: 12px;
  top: 12px;
}

.index-box-name {
  color: white;
  font-size: 18px;
  background: #FD4422;
  display: block;
  padding: 12px 16px 12px 84px;
}

.index-box-deets {
  background: #FFECE8;
  display: block;
  padding: 12px 16px 12px 84px;
}

.index-box-deets h4 {
  font-size: 18px;
}

.index-box-deets h5 {
  color: #867D7A;
  font-weight: 400;
  text-transform: uppercase;
}

.index-box-card {
  background: #FFFAF8;
  padding: 12px;
}

.index-box-card-link {
  color: #626261;
  font-size: 14px;
  display: block;
  padding: 0 0 12px 12px;
}

.index-box-card-link i {
  color: black;
  margin-right: 6px;
}

.index-box-byline {
  color: #626261;
  background: #FFFAF8;
  border-top: 1px solid #FECEC5;
  padding: 12px;
  list-style: none;
}

.index-box-byline li {
  display: inline-block;
}
